create database books;
go
use books;  --打开数据库
go
create table T_admin --管理员表
( id int identity(1,1) primary key,
  admin varchar(25) not null,
  pwd varchar(12) not null,
  limit bit default(0)--0:普通管理员 1:超级管理员
);
create table T_user --用户基本表
( id int identity(1,1) primary key,
  uname varchar(25),
  pwd varchar(12),
  utype bit default(0),--0:普通用户 1:会员
);

create table T_userInfo --用户信息表
( id int identity(1,1) primary key,
  mail varchar(20),
  myimg text,
  phone varchar(11),
  birthday varchar(20),
  balance float not null,
  uname int,
  constraint T_userInfo_uname_fk foreign key(uname) references T_user(id)
);

create table T_recharge --充值记录表
( id int identity(1,1) primary key,
  recharge float not null,
  paytime datetime not null,
  person int,
  constraint T_recharge_person_fk foreign key(person) references T_user(id),
);
create table T_category --书籍类型表
( id int identity(1,1) primary key,
  category varchar(25)--文学、小说、工具书
);
create table T_bookInfo --书籍信息表
( id int identity(1,1) primary key,
  title varchar(25),
  cover text,
  author varchar(25),
  price float,
  brief text,
  isrecommend bit default(0),--0:不推荐 1：推荐
  onlinetime datetime,
  member bit default(0),--会员 0：不是 1：是
  ctr int,--点击率
  category int,
  constraint T_bookInfo_category_fk foreign key(category) references T_category(id) 
);
create table T_mybook --书架表
(
  id int identity(1,1) primary key,
  book int,
  person int
  constraint T_mybook_book_fk foreign key(book) references T_bookInfo(id),
  constraint T_mybook_person_fk foreign key(person) references T_user(id)
);
create table T_banner --导航信息表
( id int identity(1,1) primary key,
  bTitle varchar(25),
  bCover text,
  isrecommend bit default(0),--0:不推荐 1：推荐
  onlinetime datetime,
  theBook int,
  constraint T_banner_theBook_fk foreign key(theBook) references T_bookInfo(id) 
);
create table T_section --章节表
( id int identity(1,1) primary key,
  s_name varchar(100),--章节名称
  the_book int,--所属书籍编号
  constraint T_section_the_book_fk foreign key(the_book) references T_bookInfo(id),
  s_text text
);

--初始化数据库
--管理员表初始化
insert into T_admin(admin,pwd,limit)
values('sansan','123456',0);
insert into T_admin(admin,pwd,limit)
values('lili','123456',1);
insert into T_admin(admin,pwd,limit)
values('jock','123456',0);


--用户基本表初始化
insert into T_user(uname,pwd,utype)
values('linmiao','123456',0);
insert into T_user(uname,pwd,utype)
values('lisa','123456',0);
insert into T_user(uname,pwd,utype)
values('cqc','123456',0);

--用户信息表初始化
insert into T_userInfo(mail,myimg,phone,birthday,balance,uname)
values('237070612@qq.com','img/u_pic.png','17774005385','1996-03-02',50.00,1);
insert into T_userInfo(mail,myimg,phone,birthday,balance,uname)
values('12345678@qq.com','img/u_pic.png','17774001234','1996-03-02',50.00,4);
insert into T_userInfo(mail,myimg,phone,birthday,balance,uname)
values('12345678@qq.com','img/u_pic.png','17774001234','1996-03-02',50.00,3);



--充值记录表初始化
insert into T_recharge(recharge,paytime,person)
values(50.00,'2017',1);

--书籍类型表初始化
insert into T_category values('文学');
insert into T_category values('小说');
insert into T_category values('工具书');

--书籍信息表初始化
insert into T_bookInfo(title,cover,author,price,brief,isrecommend,onlinetime,member,ctr,category)
values('无证之罪','img/book1.jpg','紫金陈',3.99,'人们往往愿意相信事实和数据，但无意间却会被故事吸引，并沉浸其中。这是为什么呢？因为“我们无法通过智力去影响别人，情感却能做到这一点”（亚里士多德）。经过情感故事包装过的事实，会以洪流般的势头迅速打开人们的心门，进而极大程度地影响人们的心理走势。',1,'2010-09-11',0,1000,2);
insert into T_bookInfo(title,cover,author,price,brief,isrecommend,onlinetime,member,ctr,category)
values('有种后宫叫德妃','img/book5.jpg','阿琐',5.99,' 宫斗文坛一直在翘首期盼的高格局划时代之作——高智商高情商宫斗：有种后宫叫德妃传奇：出身包衣，却统领后宫，泽被三朝她出生满族包衣，却逆袭成为千古一帝康熙最宠爱的妃子；她是九龙夺嫡胜者雍正之母，她堪比孝庄慈禧，传奇一生泽被康乾盛世；她以无上大智慧高情商，征服帝王，领袖后宫，缔造史上独一无二的“德妃后宫”。',1,'2017-09-22',0,900,2);
insert into T_bookInfo(title,cover,author,price,brief,isrecommend,onlinetime,member,ctr,category)
values('何所冬暖，何所夏凉','img/book4.jpg','顾西爵',2.99,'  每个人的生命中总会遇到那么一个人，一同经历风雨，然后看见彩虹，天长地久。简安桀一度以为，席郗辰是上天给她安排的不对盘，他对她的纠缠不休，仿佛此生走不出的阴影。',1,'2017-02-11',0,122,2);

--书架表初始化
insert into T_mybook(book,person)
values(1,4);
insert into T_mybook(book,person)
values(2,4);
insert into T_mybook(book,person)
values(3,4);

--导航表初始化
insert into T_banner(bTitle,bCover,isrecommend,onlinetime,theBook)
values('123何所冬暖，何所夏凉','img/banner/banner1.jpg',1,'2017-02-11',2);
insert into T_banner(bTitle,bCover,isrecommend,onlinetime,theBook)
values('何所夏凉','img/banner/banner2.jpg',1,'2017-01-11',1);
insert into T_banner(bTitle,bCover,isrecommend,onlinetime,theBook)
values('冬暖','img/banner/banner3.jpg',1,'2017-03-11',3);

--章节表初始化




select*from T_admin;
select*from T_recharge;
select*from T_mybook;
select*from T_userInfo;
select*from T_user;
select*from T_category;
select*from T_bookInfo;
select*from T_section;
select*from T_banner;


delete from T_mybook where book=1 and person=1
update T_user set utype=0 where id=1
